
<h2>edit book</h2>

<form class="" action="/books/<%= book._id %>?_method=PUT" method="post">
  <%- include('_form_fields') %>

  <a href="/books">Cancel</a>
  <button type="submit" name="button">Update</button>
</form>
