
<h2>edit author</h2>

<form class="" action="/authors/<%= author._id %>?_method=PUT" method="post">
  <%- include('_form_fields') %>

  <a href="/authors/<%= author._id %>">Cancel</a>
  <button type="submit" name="button">Update</button>
</form>
